<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logoIco.ico">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TP4</title>
</head>
<body>

   <div class="foote bg-dark text-white" th:fragment="foot">

     <!-- Footer -->
					<footer>
						<div class="foot1">
						  <p>© Todos los derechos reservado por <a class="text-warning" href="#">Natanael Lima</a></p>
							<ul class="socials">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
				                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
							</ul>
							</div>
				
					</footer>

   </div>



    <!-- JavaScript  Jquery Popper and Bootstrap JS -->
    <script src="/webjars/jquery/3.5.1/jquery.slim.min.js" ></script>
    <script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.css"></script>
    
</body>
</html>