<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logoIco.ico">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TP4</title>
</head>
<body>

    
        <aside id="publi" th:fragment="publicidad">
	            <div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">Publicidad</h5>
				    <h6 class="card-subtitle mb-2 text-muted">Programacion Orientada a Objetos</h6>
				    <p class="card-text">En el paradigma de programación orientada a objetos (POO, o bien OOP en inglés),
				     un objeto es un ente orientado a objetos (programa de computadoras) que consta de un estado y de un 
				     comportamiento, que a su vez constan respectivamente de datos almacenados y de tareas realizables durante
				      el tiempo de ejecución.</p>
				    <a href="#" class="card-link">Ver</a>
				  </div>
				</div>    
	          
	     </aside>

   
    <!-- JavaScript  Jquery Popper and Bootstrap JS -->
    <script src="/webjars/jquery/3.5.1/jquery.slim.min.js" ></script>
    <script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.css"></script>
    
</body>
</html>