<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logoIco.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TP4</title>
</head>
<body>
    
    <div th:insert="layouts/head :: head"></div>
    
     <div class="contenedor bg-light" >
        <h1 style="text-align:center;" class="text-dark"> Formulario</h1>
		<div class="caja1 row ">  
		   <div class="col-9 sec1 " style="height: 800px;">
			 <div id="formulario" >
					   <form class="row g-3" th:action="@{/index/guardarCompra}" th:object="${compra}" method="POST">
				          <input type="hidden" th:field="*{id}">
					 
						 
						  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
						    <label for="producto" class="form-label">Productos</label>
						    <select id="producto" th:field="*{producto}">
						    	<option th:each="produc: ${productos}" th:value="${produc.codigo}" th:text="${produc.nombre}" th:selected="false">
						    </select>
<!-- 						    <small class="form-text text-danger" th:if="${#fields.hasErrors('producto.nombre')}" th:errors="*{producto.nombre}"></small>  -->
						  </div>
						  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
						    <label for="mail" class="form-label">Ingrese Cantidad</label>
						    <input type="number"  th:field="*{cantidad}"  class="form-control" id="inputAddress" placeholder="...">
						    <small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
						  </div>
						  <div class=" form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
						    <label for="inputAddress2" class="form-label">El Total Se calculara al enviar el formulario</label>
						 
						  </div>
						  <div class=" form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
						     <p th:text="${texto}"></p>
						  </div>
						  <div class=" form-group col-12 mb-3">
						    <div class="form-check">
						      <input class="form-check-input" type="checkbox" id="gridCheck">
						      <label class="form-check-label" for="gridCheck">
						        Aceptar
						      </label>
						    </div>
						  </div>
						  
						 
						  <div class="form-group col-12"><br>
						    <button type="submit" class="btn btn-primary">Enviar</button>
						  </div>
					   </form>  
			
			 </div> 
		 </div>
		 
		 <div class="sec2 col-3 bg-light d-none d-md-block d-lg-block" style="height: 800px;">
				<!-- Publicidad -->
			     <aside th:replace="layouts/publicidad :: publicidad"></aside>
			    <!-- Fin- Publicidad -->			     
		</div>
	  </div> 
    </div> 
		 
		 
		
    
   <div th:insert="layouts/footer :: foot"></div>
   
    <!-- JavaScript  Jquery Popper and Bootstrap JS -->
    <script src="/webjars/jquery/3.5.1/jquery.slim.min.js" ></script>
    <script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    
</body>
</html>




